1105 ACCELERATORS
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
{
    VK_A, 40014, NOINVERT, CONTROL, VIRTKEY
    VK_B, 40002, NOINVERT, CONTROL, VIRTKEY
    VK_C, 40010, NOINVERT, CONTROL, VIRTKEY
    VK_D, 40007, NOINVERT, ALT, VIRTKEY
    VK_F, 40006, NOINVERT, CONTROL, VIRTKEY
    VK_G, 40001, NOINVERT, CONTROL, VIRTKEY
    VK_S, 40005, NOINVERT, CONTROL, VIRTKEY
    VK_T, 40004, NOINVERT, CONTROL, VIRTKEY
    VK_U, 40008, NOINVERT, ALT, VIRTKEY
    VK_V, 40012, NOINVERT, CONTROL, VIRTKEY
    VK_ESCAPE, 40003, NOINVERT, VIRTKEY
    VK_F12, 40009, NOINVERT, VIRTKEY
    VK_X, 40011, NOINVERT, CONTROL, VIRTKEY
    VK_Z, 40013, NOINVERT, CONTROL, VIRTKEY
}
