104 DIALOGEX 0, 0, 215, 105, 0
STYLE DS_SETFONT | DS_CENTER | WS_POPUPWINDOW | WS_DLGFRAME
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "对话框"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "宋体"
{
  PUSHBUTTON   "保存(&S)", 2, 81, 88, 50, 14, 0, WS_EX_STATICEDGE
  AUTORADIOBUTTON   "普通扫描", 1012, 9, 10, 56, 8, NOT WS_TABSTOP
  AUTORADIOBUTTON   "深度扫描", 1013, 9, 23, 49, 9, NOT WS_TABSTOP
  AUTORADIOBUTTON   "核心扫描", 1014, 9, 37, 63, 8, NOT WS_TABSTOP
  AUTOCHECKBOX   "扫描子目录", 1016, 10, 51, 87, 8
  AUTOCHECKBOX   "添加到右键菜单(&R)", 1021, 106, 10, 97, 8
  AUTOCHECKBOX   "最小化到系统托盘(&M)", 1025, 106, 23, 93, 8
  AUTOCHECKBOX   "&重启后加载插件(&L)", 1027, 106, 37, 102, 8
  AUTOCHECKBOX   "允许运行多个PEiD(&A)", 1028, 106, 51, 102, 8
  AUTOCHECKBOX   "重启后使用外部签名", 1017, 10, 65, 191, 8
  AUTOCHECKBOX   "仅使用外部签名 (需重启 PEiD)", 1018, 10, 77, 162, 8, NOT WS_VISIBLE
}
