107 DIALOGEX 0, 0, 367, 206, 0
STYLE DS_SETFONT | DS_CENTER | WS_POPUPWINDOW | WS_DLGFRAME | WS_MAXIMIZEBOX
CAPTION "PEiD 任务查看器 v0.03"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "宋体"
{
  PUSHBUTTON   "关闭(&C)", 2, 158, 189, 50, 14, 0, WS_EX_STATICEDGE
  CONTROL "List1", 1023, "SysListView32", WS_TABSTOP | 0x0000818D, 8, 4, 351, 84, WS_EX_STATICEDGE
  CONTROL "List1", 1024, "SysListView32", WS_TABSTOP | 0x0000818D, 8, 99, 350, 84, WS_EX_STATICEDGE
}
