109 DIALOGEX 0, 0, 198, 74, 0
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_BORDER
EXSTYLE WS_EX_TOOLWINDOW
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "ËÎÌו"
{
  CONTROL 108, -1, "STATIC", SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE, 0, 0, 198, 74
}
