110 DIALOGEX 0, 0, 266, 105, 0
STYLE DS_SETFONT | DS_CENTER | WS_POPUPWINDOW | WS_DLGFRAME
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "信息"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "宋体"
{
  PUSHBUTTON   "确定(&O)", 2, 107, 88, 50, 14, 0, WS_EX_STATICEDGE
  LTEXT   "文件名:", -1, 3, 4, 33, 8
  LTEXT   "检测为:", -1, 3, 16, 33, 8
  LTEXT   "扫描模式:", -1, 3, 27, 38, 8
  LTEXT   "平均信息:", -1, 3, 38, 39, 8
  EDITTEXT   "", 1000, 43, 5, 220, 9, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1004, 43, 16, 220, 9, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1005, 43, 27, 220, 9, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1006, 43, 38, 198, 9, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  PUSHBUTTON   "-", 1039, 249, 38, 14, 10, 0, WS_EX_STATICEDGE
  EDITTEXT   "", 1007, 43, 49, 198, 9, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  PUSHBUTTON   "-", 1040, 249, 49, 14, 10, 0, WS_EX_STATICEDGE
  LTEXT   "EP 检测:", -1, 3, 49, 33, 8
  EDITTEXT   "", 1008, 43, 60, 198, 9, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  PUSHBUTTON   "-", 1041, 249, 60, 14, 10, 0, WS_EX_STATICEDGE
  LTEXT   "快速检测:", -1, 3, 60, 39, 8
}
