1107 DIALOGEX 0, 0, 345, 162, 0
STYLE DS_SETFONT | DS_CENTER | WS_POPUPWINDOW | WS_DLGFRAME
EXSTYLE WS_EX_ACCEPTFILES | WS_EX_TOOLWINDOW
CAPTION "PEiD 字串查看器 v0.02"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "宋体"
{
  PUSHBUTTON   "关闭(&C)", 2, 147, 147, 50, 14, 0, WS_EX_STATICEDGE
  CONTROL "List1", 1095, "SysListView32", WS_TABSTOP | 0x0000038D, 8, 7, 328, 122, WS_EX_STATICEDGE
  AUTOCHECKBOX   "显示 Unicode", 1093, 265, 149, 68, 10, NOT WS_VISIBLE
  EDITTEXT   "", 1100, 57, 131, 279, 10, NOT WS_BORDER | ES_AUTOHSCROLL, WS_EX_STATICEDGE
  DEFPUSHBUTTON   ">", 1101, 199, 147, 15, 14, NOT WS_VISIBLE, WS_EX_STATICEDGE
  LTEXT   "查找字串:", -1, 9, 131, 45, 10
}
