111 DIALOGEX 0, 0, 474, 172, 0
STYLE DS_SETFONT | DS_CENTER | WS_POPUPWINDOW | WS_DLGFRAME | WS_MAXIMIZEBOX
CAPTION "PE 反汇编工具 v0.03 :: CADT"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "宋体"
{
  PUSHBUTTON   "关闭(&C)", 2, 433, 156, 38, 14, 0, WS_EX_STATICEDGE
  LISTBOX   "", 1042, 4, 5, 466, 148, NOT WS_BORDER | LBS_SORT | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | WS_VSCROLL | WS_TABSTOP, WS_EX_STATICEDGE
  EDITTEXT   "", 1043, 58, 157, 56, 12, NOT WS_BORDER | ES_AUTOHSCROLL, WS_EX_STATICEDGE
  DEFPUSHBUTTON   ">", 1044, 118, 156, 15, 12, 0, WS_EX_STATICEDGE
  LTEXT   "起点:", -1, 5, 157, 38, 9
  PUSHBUTTON   "返回(&B)", 1045, 144, 156, 38, 14, 0, WS_EX_STATICEDGE
  PUSHBUTTON   "复制(&C)", 1046, 186, 156, 38, 14, 0, WS_EX_STATICEDGE
  PUSHBUTTON   "字串(&S)", 1092, 228, 156, 38, 14, 0, WS_EX_STATICEDGE
}
