112 DIALOGEX 0, 0, 294, 111, 0
STYLE DS_SETFONT | DS_CENTER | WS_POPUPWINDOW | WS_DLGFRAME
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "区段查看器 v0.01"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "宋体"
{
  PUSHBUTTON   "关闭(&C)", 2, 122, 94, 50, 14, 0, WS_EX_STATICEDGE
  CONTROL "List1", 1045, "SysListView32", WS_TABSTOP | 0x0000818D, 6, 4, 283, 86, WS_EX_STATICEDGE
}
