101 DIALOGEX 0, 0, 389, 132, 0
STYLE DS_SETFONT | DS_CENTER | WS_POPUPWINDOW | WS_DLGFRAME | WS_MINIMIZEBOX
CAPTION "PEiD"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "宋体"
{
  PUSHBUTTON   "...", 1002, 256, 5, 17, 12, 0, WS_EX_STATICEDGE
  PUSHBUTTON   "多文件扫描(&M)", 1004, 4, 102, 58, 14, 0, WS_EX_STATICEDGE
  PUSHBUTTON   "查看进程(&T)", 1024, 66, 102, 50, 14, 0, WS_EX_STATICEDGE
  PUSHBUTTON   "选项(&O)", 1011, 120, 102, 47, 14, 0, WS_EX_STATICEDGE
  PUSHBUTTON   "关于(&A)", 1, 171, 102, 50, 14, 0, WS_EX_STATICEDGE
  PUSHBUTTON   "退出(&X)", 2, 224, 102, 49, 14, 0, WS_EX_STATICEDGE
  PUSHBUTTON   "扩展信息", 1034, 214, 119, 38, 13, BS_CENTER | BS_VCENTER, WS_EX_STATICEDGE
  PUSHBUTTON   "=>", 1026, 256, 119, 17, 13, BS_CENTER | BS_VCENTER, WS_EX_STATICEDGE
  LTEXT   "文件:", -1, 4, 6, 23, 8
  EDITTEXT   "", 1000, 28, 6, 221, 10, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1001, 4, 90, 268, 10, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  AUTOCHECKBOX   "总在最前(&S)", 1016, 4, 121, 62, 10
  EDITTEXT   "", 1028, 51, 31, 53, 10, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1029, 51, 47, 53, 10, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1030, 199, 31, 53, 10, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1031, 199, 47, 53, 10, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1032, 50, 63, 53, 10, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1033, 199, 63, 53, 10, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  LTEXT   "入口点:", -1, 4, 31, 38, 8
  LTEXT   "文件偏移:", -1, 4, 47, 37, 8
  LTEXT   "连接器版本:", -1, 4, 63, 44, 8
  LTEXT   "EP 段:", -1, 157, 31, 38, 8
  LTEXT   "首字节:", -1, 157, 47, 37, 8
  LTEXT   "子系统:", -1, 157, 63, 38, 8
  PUSHBUTTON   ">", 1046, 258, 30, 14, 11, 0, WS_EX_STATICEDGE
  PUSHBUTTON   ">", 1047, 258, 46, 14, 11, 0, WS_EX_STATICEDGE
  PUSHBUTTON   ">", 1051, 258, 62, 14, 11, 0, WS_EX_STATICEDGE
  CONTROL 250, 108, "STATIC", SS_BITMAP, 274, 4, 115, 125
}
