103 DIALOGEX 0, 0, 345, 151, 0
STYLE DS_SETFONT | DS_CENTER | WS_POPUPWINDOW | WS_DLGFRAME | WS_MAXIMIZEBOX
EXSTYLE WS_EX_ACCEPTFILES
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "宋体"
{
  PUSHBUTTON   "扫描目录(&S)", 1022, 7, 123, 67, 14, 0, WS_EX_STATICEDGE
  PUSHBUTTON   "关闭(&C)", 2, 147, 123, 50, 14, 0, WS_EX_STATICEDGE
  AUTOCHECKBOX   "只显示PE文件", 1015, 265, 121, 71, 8
  AUTOCHECKBOX   "多文件扫描", 1016, 265, 131, 71, 8
  CONTROL "List1", 1003, "SysListView32", WS_TABSTOP | 0x0000818D, 8, 7, 328, 112, WS_EX_STATICEDGE
  LTEXT   "", 1035, 7, 141, 248, 9, 0, WS_EX_STATICEDGE
  LTEXT   "", 1036, 259, 141, 77, 9, 0, WS_EX_STATICEDGE
}
