105 DIALOGEX 0, 0, 266, 147, 0
STYLE DS_SETFONT | DS_CENTER | WS_CAPTION | WS_POPUP
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "关于..."
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "宋体"
{
  PUSHBUTTON   "确定", 2, 207, 131, 50, 13, 0, WS_EX_STATICEDGE
  CTEXT   "snaker", 1017, 27, 86, 27, 8, NOT WS_GROUP | SS_NOTIFY, WS_EX_TRANSPARENT
  CTEXT   "Qwerton", 1018, 79, 86, 31, 8, NOT WS_GROUP | SS_NOTIFY, WS_EX_TRANSPARENT
  CONTROL 108, 1020, "STATIC", SS_BITMAP | SS_CENTERIMAGE, 9, 4, 248, 35, WS_EX_STATICEDGE
  CTEXT   "Jibz", 1021, 139, 86, 17, 8, NOT WS_GROUP | SS_NOTIFY, WS_EX_TRANSPARENT
  GROUPBOX   "作者", -1, 9, 76, 248, 24
  GROUPBOX   "网站", -1, 9, 103, 248, 24
  CTEXT   "www.peid.info", 1022, 60, 113, 52, 8, SS_NOTIFY, WS_EX_TRANSPARENT
  CTEXT   "www.peid.info/forum", 1023, 171, 113, 76, 8, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT   "代码使用Visual C++ 7.1编写,没有使用第三方软件.", 1081, 9, 133, 196, 8
  CTEXT   "论坛", -1, 126, 113, 36, 10, 0, WS_EX_STATICEDGE
  CTEXT   "主页", -1, 15, 113, 32, 10, 0, WS_EX_STATICEDGE
  LTEXT   "〗", -1, 112, 113, 9, 9
  LTEXT   "〗", -1, 248, 113, 8, 9
  LTEXT   "〖", -1, 162, 113, 8, 9
  LTEXT   "〖", -1, 51, 113, 8, 9
  LTEXT   "〖", -1, 21, 86, 8, 9
  LTEXT   "〖", -1, 73, 86, 8, 9
  LTEXT   "〖", -1, 129, 86, 8, 9
  LTEXT   "〗  〖 汉化:cao_cong 〗", -1, 158, 86, 95, 9
  LTEXT   "〗", -1, 110, 86, 8, 9
  LTEXT   "〗", -1, 54, 86, 8, 9
  ICON   102, 1083, 10, 48, 20, 20, SS_REALSIZEIMAGE
  LTEXT   "PEiD v0.95. 保留所有权利.", 1091, 50, 49, 203, 8
  LTEXT   "签名:", 1082, 49, 59, 142, 8
  GROUPBOX   "", -1, 41, 41, 216, 30
}
