1104 DIALOGEX 0, 0, 175, 39, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_CAPTION | WS_POPUP | WS_VISIBLE
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "转到偏移"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "宋体"
{
  EDITTEXT   "", 11016, 53, 13, 42, 10, NOT WS_BORDER | ES_MULTILINE | ES_UPPERCASE | ES_AUTOHSCROLL, WS_EX_STATICEDGE
  PUSHBUTTON   "确定", 11039, 118, 4, 51, 14, 0, WS_EX_STATICEDGE
  PUSHBUTTON   "取消", 11040, 118, 19, 51, 14, 0, WS_EX_STATICEDGE
  GROUPBOX   "转到", -1, 5, 0, 105, 34
  LTEXT   "偏移:", -1, 13, 14, 22, 8
}
