1105 DIALOGEX 0, 0, 197, 65, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_CAPTION | WS_POPUP | WS_VISIBLE
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "选择"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "宋体"
{
  EDITTEXT   "", 11002, 77, 14, 42, 10, NOT WS_BORDER | ES_RIGHT | ES_MULTILINE | ES_UPPERCASE | ES_AUTOHSCROLL, WS_EX_STATICEDGE
  EDITTEXT   "", 11003, 77, 27, 42, 10, NOT WS_BORDER | ES_RIGHT | ES_MULTILINE | ES_UPPERCASE | ES_AUTOHSCROLL, WS_EX_STATICEDGE
  EDITTEXT   "", 11006, 77, 40, 42, 10, NOT WS_BORDER | ES_RIGHT | ES_MULTILINE | ES_UPPERCASE | ES_AUTOHSCROLL | WS_DISABLED, WS_EX_STATICEDGE
  PUSHBUTTON   "确定", 11000, 140, 5, 51, 14, 0, WS_EX_STATICEDGE
  PUSHBUTTON   "取消", 11001, 140, 20, 51, 14, 0, WS_EX_STATICEDGE
  GROUPBOX   "位置", -1, 5, 0, 127, 60
  LTEXT   "起始偏移:", -1, 13, 14, 47, 8
  AUTORADIOBUTTON   "结束偏移:", 11004, 13, 25, 42, 12, NOT WS_TABSTOP | BS_LEFT | BS_PUSHLIKE | BS_FLAT
  AUTORADIOBUTTON   "大小:", 11005, 13, 38, 42, 12, NOT WS_TABSTOP | BS_LEFT | BS_PUSHLIKE | BS_FLAT
}
