1106 DIALOGEX 0, 0, 282, 140, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_CAPTION | WS_POPUP | WS_VISIBLE
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "查找"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "宋体"
{
  EDITTEXT   "", 11007, 47, 14, 143, 10, NOT WS_BORDER | ES_MULTILINE | ES_AUTOHSCROLL, WS_EX_STATICEDGE
  AUTOCHECKBOX   "ASCII 字符", 11008, 15, 32, 59, 8, BS_FLAT
  PUSHBUTTON   "确定", 11005, 215, 5, 51, 14, 0, WS_EX_STATICEDGE
  PUSHBUTTON   "取消", 11006, 215, 20, 51, 14, 0, WS_EX_STATICEDGE
  GROUPBOX   "数据", -1, 5, 0, 200, 56
  LTEXT   "字符串:", -1, 9, 15, 33, 8
  LTEXT   "区分大小写:", -1, 84, 35, 50, 8
  RADIOBUTTON   "是", 11009, 138, 33, 25, 12, NOT WS_TABSTOP | BS_CENTER | BS_PUSHLIKE | BS_FLAT
  RADIOBUTTON   "否", 11010, 165, 33, 25, 12, NOT WS_TABSTOP | BS_CENTER | BS_PUSHLIKE | BS_FLAT
  GROUPBOX   "位置", -1, 5, 60, 200, 74
  RADIOBUTTON   "当前位置", 11012, 15, 100, 65, 12, NOT WS_TABSTOP | BS_CENTER | BS_PUSHLIKE | BS_FLAT
  LTEXT   "开始查找的位置", -1, 15, 75, 71, 8
  RADIOBUTTON   "偏移:", 11013, 15, 114, 65, 12, NOT WS_TABSTOP | BS_CENTER | BS_PUSHLIKE | BS_FLAT
  RADIOBUTTON   "顶部", 11011, 15, 87, 65, 12, NOT WS_TABSTOP | BS_CENTER | BS_PUSHLIKE | BS_FLAT
  EDITTEXT   "", 11017, 104, 114, 42, 10, NOT WS_TABSTOP | ES_RIGHT | ES_UPPERCASE | ES_AUTOHSCROLL | WS_DISABLED
  LTEXT   "方向:", -1, 103, 75, 31, 8
  RADIOBUTTON   "向下", 11014, 104, 87, 41, 12, NOT WS_TABSTOP | BS_CENTER | BS_PUSHLIKE | BS_FLAT
  RADIOBUTTON   "向上", 11015, 149, 87, 41, 12, NOT WS_TABSTOP | BS_CENTER | BS_PUSHLIKE | BS_FLAT
  LTEXT   "", 11018, 104, 102, 51, 8
  AUTOCHECKBOX   "UNICODE 字串", 11016, 15, 40, 66, 8, BS_FLAT
}
