114 DIALOGEX 0, 0, 409, 196, 0
STYLE DS_SETFONT | DS_CENTER | WS_POPUPWINDOW | WS_DLGFRAME
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "导入"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "宋体"
{
  PUSHBUTTON   "关闭(&C)", 2, 179, 178, 50, 14, 0, WS_EX_STATICEDGE
  CONTROL "List1", 1049, "SysListView32", WS_TABSTOP | 0x0000818D, 6, 4, 398, 82, WS_EX_STATICEDGE
  CONTROL "List1", 1050, "SysListView32", WS_TABSTOP | 0x0000818D, 5, 92, 398, 82, WS_EX_STATICEDGE
}
