115 DIALOGEX 0, 0, 361, 191, 0
STYLE DS_SETFONT | DS_CENTER | WS_POPUPWINDOW | WS_DLGFRAME
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "导出"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "宋体"
{
  PUSHBUTTON   "关闭(&C)", 2, 155, 172, 50, 14, 0, WS_EX_STATICEDGE
  CONTROL "List1", 1050, "SysListView32", WS_TABSTOP | 0x0000818D, 6, 85, 348, 83, WS_EX_STATICEDGE
  EDITTEXT   "", 1051, 65, 9, 62, 10, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1052, 65, 23, 62, 10, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1053, 65, 37, 62, 10, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1054, 65, 51, 62, 10, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1055, 65, 65, 62, 10, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1056, 289, 9, 62, 10, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1057, 289, 23, 62, 10, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1058, 289, 36, 62, 10, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1059, 289, 51, 62, 10, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1060, 289, 65, 62, 10, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1061, 135, 51, 74, 10, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  RTEXT   "特征值:", -1, 8, 10, 54, 8
  RTEXT   "时间日期标志:", -1, 8, 23, 53, 8
  RTEXT   "版本:", -1, 11, 37, 50, 8
  RTEXT   "名称:", -1, 19, 51, 42, 8
  RTEXT   "基址:", -1, 15, 65, 45, 8
  RTEXT   "函数个数:", -1, 219, 10, 67, 8
  RTEXT   "名称个数:", -1, 219, 24, 67, 8
  RTEXT   "函数地址:", -1, 219, 38, 67, 8
  RTEXT   "名称地址:", -1, 219, 51, 67, 8
  RTEXT   "名称序数地址:", -1, 199, 66, 87, 8
  GROUPBOX   "信息", -1, 5, 0, 350, 80
}
