120 DIALOGEX 0, 0, 134, 131, 0
STYLE DS_SETFONT | DS_CENTER | WS_POPUPWINDOW | WS_DLGFRAME
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "调试信息"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "宋体"
{
  PUSHBUTTON   "关闭(&C)", 2, 40, 114, 50, 14, 0, WS_EX_STATICEDGE
  EDITTEXT   "", 1085, 70, 4, 54, 12, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1086, 70, 17, 54, 12, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1087, 70, 30, 54, 12, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1088, 70, 43, 54, 12, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1089, 70, 56, 54, 12, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1090, 70, 69, 54, 12, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  RTEXT   "特征值:", -1, 4, 5, 62, 8
  RTEXT   "时间日期标志:", -1, 4, 17, 62, 8
  RTEXT   "主版本:", -1, 4, 30, 61, 8
  RTEXT   "副版本:", -1, 3, 43, 62, 8
  RTEXT   "类型:", -1, 3, 57, 61, 8
  RTEXT   "数据大小:", -1, 3, 70, 62, 8
  EDITTEXT   "", 1091, 70, 82, 54, 12, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  EDITTEXT   "", 1092, 70, 95, 54, 12, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  RTEXT   "原始数据地址:", -1, 4, 83, 61, 8
  RTEXT   "原始数据指针:", -1, 4, 96, 62, 8
}
