121 DIALOGEX 0, 0, 249, 129, 0
STYLE DS_SETFONT | DS_CENTER | WS_CAPTION | WS_POPUP
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "PEiD 参考查看器 v0.01"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "宋体"
{
  PUSHBUTTON   "确定", 2, 100, 111, 50, 14, BS_CENTER, WS_EX_STATICEDGE
  CONTROL "", 1092, "SysListView32", WS_TABSTOP | 0x00008185, 3, 23, 242, 83, WS_EX_STATICEDGE
  LTEXT   "Static", 1096, 3, 8, 240, 8
}
