122 DIALOGEX 0, 0, 260, 199, 0
STYLE DS_SETFONT | DS_CENTER | WS_POPUPWINDOW | WS_DLGFRAME
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "PEiD 资源查看器 v0.01"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "宋体"
{
  PUSHBUTTON   "关闭(&C)", 2, 104, 182, 51, 14, 0, WS_EX_STATICEDGE
  CONTROL "", 1097, "SysTreeView32", WS_TABSTOP | 0x00000027, 3, 5, 253, 173, WS_EX_STATICEDGE
}
